<div>
    <input ng-model="newDeckName" placeholder="New Deck" />
    <button ng-click='createDeck()'>Create Deck</button>
    <label for="uploadDeckJSON" id="uploadDeckJSONLabel">Upload Deck</label> <!--click to upload deck JSON-->
    <input type="file" accept=".json" id="uploadDeckJSON" />
</div>
<div>
    <button ng-click="clearDecks()">Clear All Decks</button> <!--remove decks from localStorage-->
</div>
<div>
    <!--Rename deck-->
    <input ng-model="renameSelectDeckName" placeholder="Enter new name" ng-show="selectedDeck !== ''" />
    <button ng-click='renameSelectDeck()' ng-show="selectedDeck !== ''">Rename Deck</button>
</div>

<!--Deck List-->
<div ng-if="decks.length !== 0 && selectedDeck === ''">
    <ul>
        <li ng-repeat="(index, deck) in decks track by $index">
            <button ng-click="selectDeck(index, deck)">{{deck.name}}</button>
        </li>
    </ul>
</div>
<div ng-if="selectedDeck !== ''">
    <!--Selected Deck Details-->
    <div>
        <button ng-click="clearDeckScope()">Return</button>
    </div>
    <button ng-click="createDeck('Copy of ' + selectedDeck.name, selectedDeck.color, selectedDeck.cards)">Copy
        Deck</button>
    <div>{{selectedDeck.name}}</div>
    <div>{{selectedDeck.color}}</div>
    <div class="d-flex flex-wrap justify-content-start">
        <div class="card m-2" ng-repeat="card in selectedDeck.cards track by $index" ng-model="cards" style="width: 18rem">
            <img ng-src="{{card.imageUrl || imgPlaceHolder}}" class="" alt="Card image" />
            <div class="card-body">
                <h5 class="card-title">{{card.name}}</h5>
                <p class="card-text">{{card.text}}</p>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cardModal"
                    ng-click="setCardDetails(card)">
                    Details
                </button>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cardModal1"
                    ng-click="setCardDetails(card)">
                    Add to Deck
                </button>
            </div>
        </div>
    </div>
    <button ng-click="downloadDeckJSON()">Download</button>
    <button ng-click="deleteSelectDeck()">Delete</button>
</div>
<!--No decks saved-->
<div ng-if="decks.length === 0">
    <p> NO DECKS SAVED</p>
</div>

<card-modal></card-modal>