<div class="container-lg" id="searchBarContainer">

    <div class="row row-cols-lg-auto g-3 align-items-center mb-3">
        <div class="col-12">
            <label for="searchText" class="form-label">Choose Options</label>
            <input type="text" class="form-control" id="searchValue" ng-model="searchValue" placeholder="Type what you are looking for...." />
        </div>
        <div class="col-12">
            <label for="cmc" class="form-label">CMC</label>
            <input type="number" class="form-control" id="cmc" ng-model="cmcValue" />
        </div>
        <div class="col-12 align-items-top">
            <label for="pageSize" class="form-label">Page Size</label>
            <select class="form-select" aria-label="Results Per Page" id="pageSize" ng-model="pageSize" ng-init="pageSize='20'" ng-change="search()">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <div class="col-12">
            <div>
                <label for="checkbokes" class="form-label">Card Colors</label>
            </div>
            <div id="checkbokes" ng-repeat="color in colors" class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="color.label" ng-model="color.value" ng-change="toggle(colors,color.name, color.value)" />
                <label class="form-check-label" for="color.label">{{color.label}}</label>
            </div>  
            
        </div> 
        <div class="align-items-center" >
            <button type="button" class="btn btn-primary" id="searchButton" ng-click="search()">Search</button>
        </div>
    </div>

    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="visually-hidden">
            <button class="accordion-button" id="accordianButton" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Accordion Item #1
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-expanded="false">
            <div class="accordion-body">

                <div class="row align-items-center">
                    <div class="col-2">
                        <div>
                            <label for="raritiesCheckboxes" class="form-label">Rarity </label>
                        </div>
                        <div id="raritiesCheckboxes" ng-repeat="rarity in rarities" class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="rarity.name" ng-model="rarity.value" ng-change="toggle(rarities, rarity.name, rarity.value)" />
                            <label class="form-check-label" for="rarity.name">{{rarity.label}}</label>
                        </div>  
                        
                    </div> 
                    <div class="col-2">
                        <div>
                        <label for="superTypesCheckboxes" class="form-label">Super Types</label>
                        </div>
                        <div id="superTypesCheckboxes" ng-repeat="superType in superTypes" class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="superType.name" ng-model="superType.value" ng-change="toggle(superTypes, superType.name, superType.value)" />
                        <label class="form-check-label" for="superType.name">{{superType.label}}</label>
                        </div>  
                    </div>
                    <div class="col-5">
                        <div>
                        <label for="typesCheckboxes" class="form-label">Card Types</label>
                        </div>
                        <div id="typesCheckboxes" ng-repeat="type in types" class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="type.name" ng-model="type.value" ng-change="toggle(types, type.name, type.value)" />
                        <label class="form-check-label" for="type.name">{{type.label}}</label>
                        </div>  
                    </div>
                    <div class="col-3">
                        <div>
                        <label for="subTypesCheckboxes" class="form-label">Sub Types</label>
                        </div>
                        <div id="subTypesCheckboxes" ng-repeat="subType in subTypes" class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="subType.name" ng-model="subType.value" ng-change="toggle(subTypes, subType.name, subType.value)" />
                        <label class="form-check-label" for="subType.name">{{subType.label}}</label>
                        </div>  
                    </div>
                </div>
            </div>

              
            </div>
          </div>
        </div>
        
      </div>

    























    

<!-- 

<div class="container-lg">

    <div class="row mb-3">
        <div class="col-4">
            <label for="searchText" class="form-label">Choose Options</label>
            <input type="text" class="form-control" id="searchValue" ng-model="searchValue" placeholder="Type what you are looking for....">
        </div>
        <div class="col-1">
            <label for="cmc" class="form-label">CMC</label>
            <input type="number" class="form-control" id="cmc" ng-model="cmcValue">
        </div>
        <div class="col-1">
            <label for="pageSize" class="form-label">Page Size</label>
        <select class="form-select" aria-label="Results Per Page" id="pageSize" d="pageSize" ng-model="pageSize" ng-init="pageSize='20'" ng-change="search()">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        </div>
        <div class="col-4">
            <div>
                <label for="checkbokes" class="form-label">Card Colors</label>
            </div>
            <div id="checkbokes" ng-repeat="color in colors" class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="color.label" ng-model="color.value" ng-change="toggle(colors,color.name, color.value)" />
                <label class="form-check-label" for="color.label">{{color.label}}</label>
            </div>  
            
        </div> 
    </div>

    <div class="row">
        <div class="col-3">
            <div>
                <label for="raritiesCheckboxes" class="form-label">Rarity </label>
            </div>
            <div id="raritiesCheckboxes" ng-repeat="rarity in rarities" class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="rarity.name" ng-model="rarity.value" ng-change="toggle(rarities, rarity.name, rarity.value)" />
                <label class="form-check-label" for="rarity.name">{{rarity.label}}</label>
            </div>  
            
        </div> 
        <div class="col-3">
            <div>
            <label for="superTypesCheckboxes" class="form-label">Super Types</label>
            </div>
            <div id="superTypesCheckboxes" ng-repeat="superType in superTypes" class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="superType.name" ng-model="superType.value" ng-change="toggle(superTypes, superType.name, superType.value)" />
            <label class="form-check-label" for="superType.name">{{superType.label}}</label>
            </div>  
        </div>
        <div class="col-3">
            <div>
            <label for="typesCheckboxes" class="form-label">Card Types</label>
            </div>
            <div id="typesCheckboxes" ng-repeat="type in types" class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="type.name" ng-model="type.value" ng-change="toggle(types, type.name, type.value)" />
            <label class="form-check-label" for="type.name">{{type.label}}</label>
            </div>  
        </div>
        <div class="col-3">
            <div>
            <label for="subTypesCheckboxes" class="form-label">Sub Types</label>
            </div>
            <div id="subTypesCheckboxes" ng-repeat="subType in subTypes" class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="subType.name" ng-model="subType.value" ng-change="toggle(subTypes, subType.name, subType.value)" />
            <label class="form-check-label" for="subType.name">{{subType.label}}</label>
            </div>  
        </div>
    </div>
</div>



    


















    
















