<div class="container-lg">
  <div class="container my-4">
    <div class="d-flex flex-wrap justify-content-center m-2">
      <div ng-if="cards.cards && cards.cards.length > 0">
        <div id="pages">
          <label for="pages" class="form-label">Pages </label>
          <button
            class="btn btn-primary"
            ng-if="firstPage !==''"
            ng-click="goToPage(firstPage)"
          >
            first
          </button>
          <button
            class="btn btn-primary"
            ng-if="previousPage!=='' && previousPage!==firstPage"
            ng-click="goToPage(previousPage)"
          >
            previous
          </button>
          <button
            class="btn btn-primary"
            ng-if="nextPage!==''"
            ng-click="goToPage(nextPage)"
          >
            next
          </button>
          <button
            class="btn btn-primary"
            ng-if="lastPage!==''"
            ng-click="goToPage(lastPage)"
          >
            last
          </button>
        </div>
      </div>
      <br /><br />
      <div class="d-flex flex-wrap justify-content-start">
        <bootstrap-card
          ng-repeat="card in cards.cards track by $index"
          card="card"
          img-placeholder="{{imgPlaceHolder}}"
          card-display-type="cards"
        ></bootstrap-card>
      </div>
    </div>
  </div>

  <!-- div to show if there are not cards matching the search -->
  <div ng-if="!cards || !cards.cards || cards.cards.length === 0">
    <p>NOT FOUND IN DATABASE</p>
  </div>
</div>


<!-- <add-to-deck-modal
  modal-card="modalCard"
  decks="decks"
  on-add-to-deck="addToDeck(modalCard, selectedDeckIndex)"
  selected-deck-index = "selectedDeckIndex"
></add-to-deck-modal> -->
