<!-- This modal is displayed when the Add to Deck button on bootstrapCard is clicked, has a select form to pick a deck to add to -->
<div class="modal fade" id="addToDeckModal" tabindex="-1" aria-labelledby="addLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="addLabel">
                    Add {{modalCard.name}} to Deck
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div ng-if="decks && decks.length > 0">
                    <label for="deckList" class="form-label">Select your Deck</label>
                    <select class="form-select" aria-label="Select Deck" id="deckList" ng-model="selectedDeckIndex"
                        ng-options="index as deck.name for (index, deck) in decks track by index" ng-change="resetAddToDeckCount()">
                        <option value="" disabled selected>Select a Deck</option>
                    </select>
                    <button for="deckList" class="btn btn-primary mt-3" ng-click="handleAddToDeck(selectedDeckIndex)" ng-disabled="selectedDeckIndex === null">
                        Add to Deck
                    </button>
                    <p class="mt-1">({{modalCard.name}} added: {{addToDeckCount}})</p>
                </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>