<div id="navbar-container">
    <a href="/">
        <img src="//images.ctfassets.net/s5n2t79q9icq/3dB5uyWzUH95O1ZPBNNUX5/6cff7c65a809285755ea24b164b6ac65/magic-logo.png" alt="Magic The Gathering Logo" id="navbar-logo">
    </a>
    <a href="/" class="navbar-link">Cards</a>
    <a href="/keywords" class="navbar-link" ng-click="switchSearch('keywords')">Keywords</a>
    <a href="/sets" class="navbar-link" ng-click="switchSearch()">Sets</a>
    <a href="/decks" class="navbar-link" ng-click="switchSearch()">Decks</a>
</div>

