#navbar-container {
    width: 100%;
    background-color: black;
    display: inline-flex;
    height: 54px;
    justify-content: center;
    align-items: center;
}

.navbar-link {
    color: white;
    text-decoration: none;
    padding: 0 1.2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .9rem;
    text-transform: uppercase;    
}

#navbar-logo:hover, .navbar-link:hover {
    color: rgb(234, 54, 1);
    background-color: rgb(185, 59, 13, 0.2);
    box-shadow: 0 0 15px 5px rgb(185, 59, 13, 0.4);
    border-radius: 10px;
}

#navbar-logo {
    width: calc(257px/2);
    height: calc(86px/2);
}
