<p>Query: {{searchValue}}</p>
<div ng-if="sets.sets && sets.sets.length > 1 && setDetails == ''">
    <ul>
        <li ng-repeat="set in sets.sets">
            <button ng-click="details(set)" ng-if="set.name">{{set.name}}</button>
        </li>
    </ul>
</div>

<div ng-if="setDetails !== ''">
    <p>{{setDetails.name}}</p>
    <p>{{setDetails.releaseDate}}</p>
    <button ng-click="pullBooster(setDetails.code)" ng-if="setDetails.code">Pull Booster {{setDetails.code}}</button>
</div>

<!-- <div ng-if="booster !== ''">
    <ul>
        <li ng-repeat="card in booster.cards.cards">
            {{card}}
        </li>
    </ul>
</div> -->

<div ng-if="sets === undefined || 0 === sets.sets.length">
    <p>NOT FOUND IN DATABASE</p>
</div>