<!-- Show set list from search with page buttons -->
<p>Query: {{searchValue}}</p>
<div ng-if="sets.sets && sets.sets.length > 0 && setDetails == ''">
    <div >
        <button ng-if="firstPage !==''" ng-click="goToPage(firstPage)">first</button>
        <button ng-if="previousPage!=='' && previousPage!==firstPage" ng-click="goToPage(previousPage)"> previous </button>
        <button ng-if="nextPage!==''" ng-click="goToPage(nextPage)">next</button>
        <button ng-if="lastPage!==''" ng-click="goToPage(lastPage)">last</button>
    </div>
    <ul>
        <li ng-repeat="set in sets.sets">
            <button ng-click="details(set)" ng-if="set.name">{{set.name}}</button>
        </li>
    </ul>
</div>

<!-- Hide set list and page buttons to see more detail about user selected set -->
<div ng-if="setDetails !== ''">
    <p>{{setDetails.name}}</p>
    <p>{{setDetails.releaseDate}}</p>
    <button ng-click="pullBooster(setDetails.code)" ng-if="setDetails.code">Pull Booster {{setDetails.code}}</button>
</div>

<!-- Booster error response from http -->
<div ng-show="booster === 'error'">
    <p>BOOSTER UNAVAILABLE</p>
</div>
<!-- If booster http request is successful, show card list -->
<div ng-if="booster !== 'error' && booster !== ''">
    <ul>
        <li ng-repeat="card in booster.cards" ng-if="card.imageUrl !== undefined">
            <button ng-click="showCardDetails(card)" ng-if="card.name">{{card.name}}</button>
        </li>
    </ul>
</div>

<!-- If card is selected, see more details -->
<div ng-if="cardDetails !== ''">
    <p>{{cardDetails.name}}</p>
    <p>{{cardDetails.manaCost}}</p>
    <img ng-src="{{cardDetails.imageUrl}}" alt="{{cardDetails.name}}"/>
    <p>{{cardDetails.text}}</p>
    <label>
        <input type="checkbox" id="favorite" name="favorite">
        Favorite
    </label>
    <button>Add to Deck</button>
</div>

<!-- set http request comes back empty/undefined -->
<div ng-if="sets === undefined || 0 === sets.sets.length">
    <p>NOT FOUND IN DATABASE</p>
</div>